body {
	text-align:left;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
}
.login {
	font-size: 10pt;
}
.login #user_login {
	display: block;
	position: absolute;
	left: 735px;
	top: 292px;
	width: 185px;
	height: 21px;
}
.login #user_pass {
	display: block;
	position: absolute;
	left: 735px;
	top: 347px;
	width: 185px;
	height: 21px;
}
#nav {
	display: block;
	position: absolute;
	left: 747px;
	top: 395px;
	width: 170px;
	font-size: 9pt;
	text-align: center;
}
#loginform p.forgetmenot {
	display: block;
	position: absolute;
	left: 760px;
	top: 370px;
	width: 185px;
	font-size: 9pt;
}
.submit .button-primary {
	display: block;
	position: absolute;
	left: 782px;
	top: 430px;
	width: 98px;
	height: 31px;
	border: none 0px;
	background-color: transparent;
}


