* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	background-image: url(background.png);
	background-repeat: repeat;
	background-position: top center;
	background-attachment: fixed;
	text-align: center;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 14px;
	font-family: Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka;
	line-height: 170%;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#container {
	position: relative;
	height: 100%;
	min-height: 745px;
}
#main{
	position: relative;
	display: inline-block;
	min-height: 664px;
	font-size: 0;
	line-height: 0;
}
#content {
	position:relative;
	background: url(main.jpg) no-repeat;
	background-color: #fff;
	margin: 0 auto;
	width: 980px;
	height: 664px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset;
}
#content .padder:after {
	position: absolute;
	height: 634px;
	left: 0; top: 0; right: 0; bottom: 0;
	-moz-box-shadow: inset 0px 0px 13px 19px #fff;
	-webkit-box-shadow: inset 0px 0px 13px 19px #fff;
	box-shadow: inset 0px 0px 13px 19px #fff;
	content: "";
}
#content:before, #content:after {
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
#content:after {
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}
.login {
	font-size: 10pt;
}
.login #user_login {
	display: block;
	position: relative;
	padding: 2px 5px;
	left: 727px;
	top: 300px;
	width: 178px;
	height: 21px;
	border: 1px solid #ccc;
	z-index: 1;
}
.login #user_pass {
	display: block;
	position: relative;
	padding: 2px 5px;
	left: 727px;
	top: 326px;
	width: 178px;
	height: 21px;
	border: 1px solid #ccc;
	z-index: 1;
}
#loginform p.forgetmenot label {
	cursor: pointer;
}
#rememberme {
	cursor: pointer;
}
#loginform p.forgetmenot {
	display: block;
	position: relative;
	left: 727px;
	top: 336px;
	width: 185px;
	font-size: 9pt;
	z-index: 1;
}
#nav {
	display: block;
	position: relative;
	left: 739px;
	top: 321px;
	width: 170px;
	font-size: 9pt;
	text-align: center;
	z-index: 1;
}
.submit .button-primary {
	display: block;
	position: relative;
	left: 774px;
	top: 368px;
	width: 94px;
	height: 31px;
	border: none 0px;
	background-color: transparent;
	outline: none;
	z-index: 1;
}
#change-skin {
	display: block;
	position: relative;
	left: 737px;
	top: 410px;
	width: 170px;
	font-size: 9pt;
	text-align: center;
	z-index: 1;
}
#change-skin a {
	color: #fff;
}

#footer {
	position: absolute;
	color: #8c8672;
	background: #303026;
	-webkit-box-shadow: inset 0 5px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 5px 20px rgba(0,0,0,0.3);
	box-shadow: inset 0 5px 20px rgba(0,0,0,0.3);
	margin: 0 auto;
	width: 100%;
	height: 70px;
	bottom: 0;
	font-size: 13px;
	line-height: 170%;
}
#footer .padder {
	margin: 15px auto;
	padding-top: 10px;
	max-width: 940px;
}
#footer .site-info {
	float: left;
	max-width: 450px;
	text-align: left;
}
#footer .site-info li {
	display: inline;
	padding: 0 3px 0 7px;
	list-style: none;
	border-left: 1px solid;
}
#footer .site-info li:first-child {
	padding-left: 0;
	border-left: none;
}
#footer .copyright {
	float: right;
	max-width: 450px;
	text-align: right;
}
#footer a {
	color: #db9d27;
	text-decoration: none;
}
#footer a p {
	display: inline;
	margin-left: 5px;
}
#footer a:hover {
	border-bottom: 1px solid;
}

#message,
#login_error {
	display: block;
	position: absolute;
	font-size: 14px;
	width: 100%;
	top: 625px;
	z-index: 2;
}
